body {
  background-image: linear-gradient(to right top, #ba83ca);
}
.square {
  background: #fff;
  border: 1px solid #999;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}
.cleared {
  background: #fff;
}

.screen {
  padding: 10px;
  height: 400px;
  width: 400px;
  border: solid black 5px;
  display: flex;
  flex-wrap: wrap;
}

.pixel {
  width: 20px;
  height: 20px;
}
